.search-container 
  position: fixed
  top:0%
  left: 15em
  right:0%
  padding:0.5em
  background-color: black
  opacity:0.6
.search-container:hover
  opacity:1
a
  padding: 7em
  color: black

input[type="text"] 
  width: 50em
  padding: 0.6em
  border-radius: 5px
  border: 2px solid black
  box-shadow: 0 0 5px rgba(0, 0, 0, 9)
  margin-left:20%


button[type="submit"] 
  padding: 10px 20px
  background-color: #5459de
  border: none
  border-radius: 5px
  color: #fff
  margin-left: 10px
  cursor: pointer


button[type="submit"]:hover 
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%)
  color: black

