.sidenav 
  height: 100%
  width: 15em
  position: fixed
  background-color:#5459de
  top:0%
  left:0%
  font-family: 'Courier New', monospace

sup
    color: red
    background-color: white
    border-radius: 3em
.sidenav a
    padding:2em
    text-decoration: none
    font-size: 1em
    color: white
    display: flex
    // background-color:#349aa3
svg 
    position:absolute
    width:4em


.sidenav a:hover
  color: black
  transform: scale(1.0)
  background-color: white
  border-radius:1em

#nav-img
    position: absolute
    top:75%
    width:90%
    height:10em
    padding:0.8em

#nav-logo
    width:7em
    padding-top: 0.5em
    padding-left:4em

#nav-button
    color:#f0f0f5
    margin: 0
    position: absolute
    top: 97%
    left: 50%
    width:15em
    -ms-transform: translate(-50%, -50%)
    transform: translate(-50%, -50%)
    padding:0.5em
    background-color:#1ac77c
    border-radius:1em
    font-size:1em
    cursor: pointer
   
    
    


    
    

    



    
    



