#product-item  > img
    width:150px
    height:200px
    background-size: cover
#product-container
    position: relative
    display: grid
    grid-template-columns: auto auto auto auto
    padding:10px
    margin-left:140px
   
#product-item
    padding:20px
    text-align: center
    
#container:hover,button:hover
    transform: scale(1.1)
    border: 1px solid black
    border-radius: 20px
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5)
#wish-icon
    position: absolute
    // display: inline-block
    background-color: transparent
    cursor: pointer
    
header
    text-align: center
    font-family: "Audiowide", sans-serif
    padding:20px
button
    border-radius: 20px
    padding:10px
#button-right
    margin-right: 20px