<header>Products</header>
<div class="product-container">
    <ng-container *ngFor="let item of productList">
        <div class="container">
            <div class="product-item">
                <img src={{item.image}}>
                <h4 >{{item.title}}</h4>
                <!-- <p>{{item.description}}</p> -->
                <h4>Rs {{item.price}}/-</h4>
                <h4>Rating:{{item.rating.rate}}</h4>
                <button class="AddToCartbutton" (click)=addtoCart(item)>Add to Cart</button>
                <i class="fa fa-heart" style="font-size:20px;" (click)=addtoWish(item)>
                    <span class="tooltiptext">Add to wishlist</span></i>
            </div>
        </div>
    </ng-container>
</div>


